.navimg{
  height: 50px;
  margin-left: 15px;
}

.offli{
  color: #ffffff;
  text-shadow: 1px 1px 5px #000000;
}

.offli:hover{
  color: #a1a1a1;
}

.navbar{
  height: 85px;
  z-index: 1;
  transition: 0.4s ease-out;
}

.navbar.scrolled {
  height: 70px;
  background: #000000;
}

@media screen and (max-width: 1000px) {

  .offli{
    color: #000000;
    border-bottom: 1px solid #cecece;
    text-shadow: unset;
  }

  .offcanvas{
    width: 90vw;
  }

}