#svgcontainer{
	margin: 0 auto;
	padding: 1em;
	position: relative;
	overflow: auto;
	max-width: 860px;
	width: 90vw;
	}



	#svgmap{
		width: 100%;
	}

	th, td{ text-align: center;}
	thead{ text-transform: uppercase;}
    
	/*svg g path, svg g rect, svg polygon, svg polyline, svg path{*/
	svg [id*='lote_'],
	svg .jardin{
		cursor: pointer;
        fill-opacity: 0.65;
        transition: all .25s ease-in;
      }
    /*svg g path:hover, svg g rect:hover, svg polygon:hover, svg polyline:hover, svg path:hover,
	svg g path:focus, svg g rect:focus, svg polygon:focus, svg polyline:focus, svg path:focus{*/
	svg [id*='lote_']:hover, svg [id*='lote_']:focus,
	svg .jardin:hover, svg .jardin:focus{
        fill-opacity: 1;
      }

	[id*='lote2a'], [id*='lotecc']{
		fill-opacity: 0.25;
		stroke: silver !important;
	}

	.cls-2, .st10 {background-color: #ef7f96;}
	.cls-3, .st7 {background-color: #d2c98f;}
	.cls-4, .st9 {background-color: #dbdbdb;}
	.cls-5, .st11 {background-color: #e2b291;}
	.cls-6, .st8 {background-color: #98bfd5;}
	.cls-7, .st12 {background-color: #f3a5b8;} 

	.modal-title img{
	width: 50%
	}

	#minimap{
	position: absolute;
	width: 200px;
	height: 200px;
	background-image: url(../assets/img/levana_map.jpg);
	background-color: transparent;
	background-repeat: no-repeat;
	box-shadow: 1px 1px 6px #333, 0 0 12px rgba(0,0,0,0.25);
	right: -150px;
	border-radius: 6px
	}
	.wwweb #minimap{
		background-image: url(../assets/img/levana_map_web.jpg);
	}
	.modal-body{
	position: relative;
	}
	.modal-fullscreen-sm-down-bye .amenidades-info img{
		min-width: 480px;
	}
	.modal-fullscreen-sm-down-bye .amenidades-info{
	overflow: auto;
	}
	@media (min-width: 992px) {
		.modal-fullscreen-sm-down-bye{min-width: 720px;}
		.modal-fullscreen-sm-down-bye .amenidades-info img{
		min-width: 640px;
		}
	}

	#minimap{
	background-position: -2185px -86px;
	background-size: 2860px auto;
	transition: all 1.5s ease-in-out;
	transition-delay: 0.5s;
	display: none;
	transform: translateX(150px);
	opacity: 0;
	transition: all 0.75s ease-in-out;
	transition-delay: 1s;
	}
	#minimap.mmap-show{
	  display: block;
	  transform: translateX(0px);
	  opacity: 1;
	}

	#minimap.mmap_1{ background-position: -2185px -86px; background-size: 2860px auto; }
	#minimap.mmap_2{ background-position: -2305px -66px; background-size: 2875px auto; }	    
	#minimap.mmap_3{ background-position: -2370px -66px; background-size: 2890px auto; }	
	#minimap.mmap_4{ background-position: -2430px -66px; background-size: 2890px auto; }		
	#minimap.mmap_5{ background-position: -2480px -66px; background-size: 2890px auto; }	
	#minimap.mmap_6{ background-position: -2540px -66px; background-size: 2900px auto; }	
	#minimap.mmap_7{ background-position: -2640px -62px; background-size: 2950px auto; }	
	#minimap.mmap_8{ background-position: -2680px -60px; background-size: 2950px auto; }	

	#minimap.mmap_9{ background-position: -2665px -195px; background-size: 2950px auto; }	
	#minimap.mmap_10{ background-position: -2665px -260px; background-size: 2950px auto; }	
	#minimap.mmap_11{ background-position: -2670px -305px; background-size: 2950px auto; }	
	#minimap.mmap_12{ background-position: -2670px -365px; background-size: 2950px auto; }	
	#minimap.mmap_13{ background-position: -2700px -440px; background-size: 2980px auto; }	
	#minimap.mmap_14{ background-position: -2700px -480px; background-size: 2980px auto; }	

	#minimap.mmap_15{ background-position: -2690px -645px; background-size: 2950px auto; }
	#minimap.mmap_16{ background-position: -2650px -648px; background-size: 2950px auto; }	
	#minimap.mmap_17{ background-position: -2590px -652px; background-size: 2950px auto; }	
	#minimap.mmap_18{ background-position: -2528px -654px; background-size: 2940px auto; }	
	#minimap.mmap_19{ background-position: -2478px -656px; background-size: 2940px auto; }	
	#minimap.mmap_20{ background-position: -2420px -659px; background-size: 2940px auto; }
	#minimap.mmap_21{ background-position: -2375px -664px; background-size: 2940px auto; }	
	#minimap.mmap_22{ background-position: -2300px -665px; background-size: 2930px auto; }	
	#minimap.mmap_23{ background-position: -2245px -665px; background-size: 2930px auto; }	
	#minimap.mmap_24{ background-position: -2190px -667px; background-size: 2930px auto; }	

	#minimap.mmap_25{ background-position: -2372px -206px; background-size: 2860px auto; }
	#minimap.mmap_26{ background-position: -2372px -246px; background-size: 2860px auto; }
	#minimap.mmap_27{ background-position: -2382px -310px; background-size: 2860px auto; }
	#minimap.mmap_28{ background-position: -2384px -370px; background-size: 2860px auto; }
	#minimap.mmap_29{ background-position: -2384px -425px; background-size: 2860px auto; }
	#minimap.mmap_30{ background-position: -2394px -465px; background-size: 2860px auto; }
	#minimap.mmap_31{ background-position: -2282px -429px; background-size: 2840px auto; }
	#minimap.mmap_32{ background-position: -2232px -435px; background-size: 2840px auto; }
	#minimap.mmap_33{ background-position: -2172px -440px; background-size: 2830px auto; }
	#minimap.mmap_34{ background-position: -2110px -442px; background-size: 2830px auto; }
	#minimap.mmap_35{ background-position: -2105px -300px; background-size: 2840px auto; }
	#minimap.mmap_35{ background-position: -2105px -300px; background-size: 2840px auto; }
	#minimap.mmap_36{ background-position: -2145px -280px; background-size: 2820px auto; }
	#minimap.mmap_37{ background-position: -2200px -270px; background-size: 2820px auto; }
	#minimap.mmap_38{ background-position: -2250px -265px; background-size: 2820px auto; }

	#minimap.mmap_39{ background-position: -1630px -312px; background-size: 2820px auto; }
	#minimap.mmap_40{ background-position: -1380px -380px; background-size: 2560px auto; }
	#minimap.mmap_41{ background-position: -1360px -420px; background-size: 2560px auto; }
	#minimap.mmap_42{ background-position: -1330px -460px; background-size: 2560px auto; }
	#minimap.mmap_43{ background-position: -1350px -540px; background-size: 2600px auto; }
	#minimap.mmap_44{ background-position: -1295px -580px; background-size: 2650px auto; }

	#minimap.mmap_45{ background-position: -1265px -680px; background-size: 2760px auto; }
	#minimap.mmap_46{ background-position: -1185px -680px; background-size: 2720px auto; }
	#minimap.mmap_47{ background-position: -1215px -585px; background-size: 2700px auto; }
	#minimap.mmap_48{ background-position: -1215px -535px; background-size: 2700px auto; }
	#minimap.mmap_49{ background-position: -1225px -505px; background-size: 2680px auto; }
	#minimap.mmap_50{ background-position: -1210px -435px; background-size: 2620px auto; }
	#minimap.mmap_51{ background-position: -1172px -380px; background-size: 2520px auto; }
	#minimap.mmap_52{ background-position: -1250px -312px; background-size: 2820px auto; }
	#minimap.mmap_53{ background-position: -1300px -312px; background-size: 2820px auto; }
	#minimap.mmap_54{ background-position: -1360px -312px; background-size: 2820px auto; }
	#minimap.mmap_55{ background-position: -1410px -312px; background-size: 2820px auto; }
	#minimap.mmap_56{ background-position: -1465px -312px; background-size: 2820px auto; }
	#minimap.mmap_57{ background-position: -1520px -312px; background-size: 2820px auto; }
	#minimap.mmap_58{ background-position: -1560px -305px; background-size: 2800px auto; }

	#minimap.mmap_59{ background-position: -1020px -370px; background-size: 2650px auto; }
	#minimap.mmap_60{ background-position: -1020px -395px; background-size: 2650px auto; }
	#minimap.mmap_61{ background-position: -1014px -460px; background-size: 2650px auto; }
	#minimap.mmap_62{ background-position: -1014px -505px; background-size: 2650px auto; }
	#minimap.mmap_63{ background-position: -1014px -555px; background-size: 2650px auto; }
	#minimap.mmap_64{ background-position: -1020px -615px; background-size: 2680px auto; }
	#minimap.mmap_65{ background-position: -1020px -660px; background-size: 2680px auto; }
	#minimap.mmap_66{ background-position: -1020px -700px; background-size: 2680px auto; }
	#minimap.mmap_67{ background-position: -1105px -850px; background-size: 2820px auto; }
	#minimap.mmap_68{ background-position: -1050px -860px; background-size: 2820px auto; }
	#minimap.mmap_69{ background-position: -1038px -940px; background-size: 2980px auto; }
	#minimap.mmap_70{ background-position: -985px -950px; background-size: 2980px auto; }
	#minimap.mmap_71{ background-position: -910px -775px; background-size: 2720px auto; }
	#minimap.mmap_72{ background-position: -910px -745px; background-size: 2720px auto; }
	#minimap.mmap_73{ background-position: -910px -690px; background-size: 2720px auto; }
	#minimap.mmap_74{ background-position: -910px -630px; background-size: 2720px auto; }
	#minimap.mmap_75{ background-position: -910px -580px; background-size: 2720px auto; }
	#minimap.mmap_76{ background-position: -915px -530px; background-size: 2720px auto; }
	#minimap.mmap_77{ background-position: -915px -480px; background-size: 2720px auto; }
	#minimap.mmap_78{ background-position: -945px -435px; background-size: 2760px auto; }
	#minimap.mmap_79{ background-position: -942px -395px; background-size: 2760px auto; }
	#minimap.mmap_80{ background-position: -965px -318px; background-size: 2920px auto; }
	#minimap.mmap_81{ background-position: -1015px -318px; background-size: 2920px auto; }
	#minimap.mmap_82{ background-position: -1078px -318px; background-size: 2920px auto; }
	#minimap.mmap_83{ background-position: -1130px -318px; background-size: 2920px auto; }
	#minimap.mmap_84{ background-position: -1185px -318px; background-size: 2920px auto; }

	#minimap.mmap_88{ background-position: -1515px -1050px; background-size: 3080px auto; }
	#minimap.mmap_89{ background-position: -1480px -1110px; background-size: 3090px auto; }
	#minimap.mmap_90{ background-position: -1420px -1150px; background-size: 3085px auto; }
	#minimap.mmap_91{ background-position: -1340px -1150px; background-size: 3025px auto; }
	#minimap.mmap_92{ background-position: -1240px -1150px; background-size: 2900px auto; }
	#minimap.mmap_93{ background-position: -1120px -1110px; background-size: 2760px auto; }
	#minimap.mmap_94{ background-position: -1060px -1120px; background-size: 2760px auto; }
	#minimap.mmap_95{ background-position: -1010px -1128px; background-size: 2760px auto; }
	#minimap.mmap_96{ background-position: -965px -1158px; background-size: 2800px auto; }
	#minimap.mmap_97{ background-position: -920px -1178px; background-size: 2820px auto; }
	#minimap.mmap_98{ background-position: -870px -1185px; background-size: 2820px auto; }
	#minimap.mmap_99{ background-position: -820px -1195px; background-size: 2820px auto; }
	#minimap.mmap_100{ background-position: -770px -1205px; background-size: 2820px auto; }
	#minimap.mmap_101{ background-position: -700px -1195px; background-size: 2780px auto; }

	#minimap.mmap_103{ background-position: -752px -1415px; background-size: 2880px auto; }
	#minimap.mmap_104{ background-position: -820px -1410px; background-size: 2880px auto; }
	#minimap.mmap_105{ background-position: -870px -1400px; background-size: 2880px auto; }
	#minimap.mmap_106{ background-position: -925px -1395px; background-size: 2880px auto; }
	#minimap.mmap_107{ background-position: -980px -1395px; background-size: 2880px auto; }
	#minimap.mmap_108{ background-position: -1030px -1385px; background-size: 2880px auto; }
	#minimap.mmap_109{ background-position: -1080px -1387px; background-size: 2880px auto; }
	#minimap.mmap_110{ background-position: -1145px -1390px; background-size: 2900px auto; }
	#minimap.mmap_111{ background-position: -1185px -1375px; background-size: 2880px auto; }
	#minimap.mmap_112{ background-position: -1225px -1335px; background-size: 2820px auto; }
	#minimap.mmap_113{ background-position: -1265px -1300px; background-size: 2780px auto; }
	#minimap.mmap_114{ background-position: -1300px -1240px; background-size: 2720px auto; }
	#minimap.mmap_115{ background-position: -1350px -1195px; background-size: 2780px auto; }
	#minimap.mmap_116{ background-position: -1415px -1150px; background-size: 2820px auto; }
	#minimap.mmap_117{ background-position: -1510px -1122px; background-size: 2920px auto; }

	#controls{
		position: absolute;
		bottom: 10px;
		left: 10px;
	}
	#controls .btn{
		width: 34px;
		height: 32px;
		background-color: #fff;
		font-size: 1.5em;
		line-height: 0.5;
		text-align: center;
	}

	@media (max-width: 575px) {

		#svgcontainer{overflow: visible;}
		#svgmap{
			border: none;
		}
		#minimap{
			position: relative;
			background: #fff url(assets/img/levana_map.jpg) center no-repeat;
			box-shadow: 1px 1px 6px #ededed;
			right: 0;
			border-radius: 8px;
			margin: -35px 0 10px 0;
			float: right;
		}
		/*.modal-content .btn-close{ display: none}*/
		svg{max-height: 240px;}

		#controls{
			bottom: 0px;
			z-index: 1;
			width: 95%;
		}
		#controls .btn{
			margin: 0 1px;
			padding: 0.1em;
			color: #1f1f1f;
			width: initial;
			height: initial;
			border: 1px solid #333;
			border-radius: 5px;
		}
		}	