.navbar{
    height: 85px;
    z-index: 999999 !important;
    transition: 0.4s ease-out;
  }
  
  .navbar.scrolled {
    height: 70px;
  }

  .navbar-brand img{
    width: 170px;
  }

  @media screen and (max-width: 1000px){

    .offcanvas{
      width: 70vw !important;
    }

    .offcanvas-body a{
      color: #222222 !important;
    }

    .nav-link{
      border-bottom: 1px solid #0c0c0c;
    }

  }