

.slickc{
    border-radius: 15px;
    background-color: #5894ac;
    padding: 25px 40px;
    margin: 0px 15px;
    color: #ffffff;
    min-height: 450px;
    box-shadow: 0px 0px 8px 1px #457184 inset;
}

.slickc button{
    margin: 30px 0px;
}

.parrafo{
    margin-top: 30px;
} 

.slickc a{
    color: #000000;
}
  
  .slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    border-radius: 15px;
  }
  .slick-dots li button {
    display: none;
  }
  .slick-dots li:before {
    top: 1px;
    transition: all 0.5s;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #85abfd;
    position: absolute;
  }
  .slick-dots li.slick-active:before {
    top: 0;
    width: 8px;
    height: 8px;
    margin-left: -2px;
    background-color: #ffffff;
  }
  
  .slick-prev {
    left: 0;
    transform: rotate(180deg);
  }
  
  .slick-next {
    right: 0;
  }
  
  .slick-arrow {
    top: 50%;
    height: 26px;
    width: 14px;
    margin-top: -13px;
    position: absolute;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-image: url(https://tarkikromanski.github.io/files/arrow-slider.png);
    background-repeat: no-repeat;
  }
  