.navbar{
    height: 100px;
    z-index: 999999 !important;
    transition: 0.4s ease-out;
    border-bottom: 2px solid #00000018;
  }
  
  .navbar.scrolled {
    height: 90px;
  }

  .navbar-brand img{
    width: 250px;
  }

  .loginbtn{
    margin-left: 5px;
  }

  .navimg img{
    width: 100%;
  }

.userrow{
  margin-top: 50px !important;
}
  @media screen and (max-width: 1000px){

    .offcanvas{
      width: 70vw !important;
    }

    .offcanvas-body a{
      color: #222222 !important;
    }

    .btnoffc button{
      color: #ffffff !important;
      background-color: #222222 !important;
    }

    .nav-link{
      border-bottom: 1px solid #f3f3f3;
    }

  }