.slickc{
    height: 100%;
}

.slickc i{
    font-size: 30px;
    background-color: #000000;
    color: #85abfd;
    border-radius: 25px;
    padding: 7px 13px;
}

.slickc img{
  max-height: 100px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 25px;
}
  
  .slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    border-radius: 15px;
  }
  .slick-dots li button {
    display: none;
  }
  .slick-dots li:before {
    top: 1px;
    transition: all 0.5s;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #f0f0f0;
    position: absolute;
  }
  .slick-dots li.slick-active:before {
    top: 0;
    width: 8px;
    height: 8px;
    margin-left: -2px;
    background-color: #7399df;
  }
  
  .slick-prev {
    left: 0;
    transform: rotate(180deg);
  }
  
  .slick-next {
    right: 0;
  }
  
  .slick-arrow {
    top: 50%;
    height: 26px;
    width: 14px;
    margin-top: -13px;
    position: absolute;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-image: url(https://tarkikromanski.github.io/files/arrow-slider.png);
    background-repeat: no-repeat;
  }
  